Body {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Edu SA Beginner', cursive;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
}

section {
    width: 80%;
    height: 75vh;
}

.articleContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.article {
    width: 100%;
    height: 30%;
    box-shadow: 2px 3px 10px rgb(182, 182, 182);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article > h2 {
    width: 95%;
    height: 20%;
    font-size: 30px;
}

.article > p {
    width: 95%;;
    height: 80%;
}
